@use '../util/' as *;

.c-button {
    padding: rem(8px) rem(24px);
    transition: .2s;
}

.c-button--one {
    border: rem(1px) solid var(--clr-white-normal);
    border-radius: rem(4px);
    color: var(--clr-white-normal);

    &:hover {
        border-color: var(--clr-auxiliary-light);
        background-color: var(--clr-auxiliary-light);
    }
}

.c-button--two {
    background-color: var(--clr-auxiliary-normal);
    color: var(--clr-white-normal);

    &:hover {
        animation: scaleBtn .5s infinite alternate;
    }
}

@keyframes scaleBtn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.07);
    }
}