.c-home {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.c-home::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, .1), #06121e), url(../../assets/imgs/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: .9;
}