@use '../util/' as *;

.c-title {
    text-align: center;
    font-size: rem(20px);
    
    @include breakpoint(medium) {
        line-height: 1.5;
        font-size: 40px;
    }
    @include breakpoint(large) {
        font-size: 60px;
    }
}

.c-title__span {
    display: block;
}

.c-title--small {
    font-size: rem(16px);
    
    @include breakpoint(medium) {
        line-height: 1.5;
        font-size: 30px;
    }
    @include breakpoint(large) {
        font-size: 40px;
    }
}