@use '../util/' as *;

.l-hero {
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    gap: rem(30px);
    
    color: var(--clr-white-normal);
}

.l-hero .c-button {
    @include breakpoint(medium) {
        font-size: rem(18px);
        padding: rem(14px) rem(60px);
    }
    @include breakpoint(large) {
        font-size: rem(20px);
        padding: rem(18px) rem(80px);
    }
}